[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/furnace"]
	path = extern/furnace
	url = https://github.com/pillowtrucker/furnace.git
[submodule "extern/rustex"]
	path = extern/rustex
	url = https://github.com/eoan-ermine/rustex.git
[submodule "extern/ctre"]
	path = extern/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
[submodule "extern/frozen"]
	path = extern/frozen
	url = https://github.com/serge-sans-paille/frozen.git
[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL
